<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Navi</key>
	<string>Navi Versions</string>
	<key>04a2c24702c92a9accb8d0f2e9cd8b1b65dbb765</key>
	<string>1.0~a1</string>
</dict>
</plist>
